header{
    font-size: 30px;
    color: red;
    background: black;
    border: solid 3px white;
    padding: 10px;
    margin: 15px;
}

body{
    background: black;
    color: white;
    margin: 20px;
}

section{
    justify-content:center;
    font-size: 25px;
}

img{
    height: 200px;
}

.seletor{
    display:flex;
    overflow-x: auto;
    gap: 10px;
}

.seletor img{
    opacity: 0.5;
}

.seletor img:hover{
    opacity: 1                                                                                                                                                                                                                          ;
}